/* ======================== Global Styles ======================== */

html,
body,
#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ======================== Font Family ======================== */

/* Ensuring consistency with the 'Poppins' font throughout the body and related elements */
body {
    font-family: 'Poppins', sans-serif;
}

calcite-panel,
calcite-shell-panel,
p,
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

/* ======================== Panel Content ======================== */

.panel-content {
    padding: 16px;
}

.panel-header-logo {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon {
    height: 40px;
}

/* ======================== Button List ======================== */

.button-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5px;
    padding: 2px;
}

/* ======================== Button Styles ======================== */

.country-btn {
    display: flex;
    align-items: center;
    background-color: white;
    color: #000000;
    border: 1px solid #34a853;
    border-radius: 10px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
}

.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

/* ======================== Button Hover Styles ======================== */

.country-btn:hover {
    background-color: #f1f1f1;
    border-color: #2c8a3c;
    color: #2c8a3c;
}

/* ======================== Button Focus Styles ======================== */

.country-btn:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 128, 0, 0.6);
}

/* ======================== Calcite Shell and Actions ======================== */

calcite-shell {
    height: 100vh;
}

.calcite-action {
    margin: 4px 0;
}